<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTS Result</title>
    <link rel="stylesheet" href="{% static 'History.css' %}">
</head>


<body>
    <!-- This is container  -->
    <div class="logout">
        <a href="{% url 'OTS:logout' %}" target="_blank"><button type="button">Logout</button></a>
    </div>
    <div class="container">
        <div class="title">Test Result</div>

        <div class="content">
            <h1>Hii {{candidate.name}}, you have attempted in total {{candidate.test_attempted}} test and you have
                scored {{candidate.points}} on the scale of 10.</h1>

            <table>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Attempt</th>
                    <th>Right</th>
                    <th>Wrong</th>
                    <th>Points</th>
                </tr>

                {% for r in results %}
                <tr>
                    <td>{{r.date}}</td>
                    <td>{{r.time}}</td>
                    <td>{{r.attempts}}</td>
                    <td>{{r.right}}</td>
                    <td>{{r.wrong}}</td>
                    <td>{{r.points}}</td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>



</body>

</html>