@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {


    --folly: #F13652ff;
    --rusty-red: #E13545ff;
    --atomic-tangerine: #FC985Cff;
    --indigo-dye: #095278ff;
    --rich-black: #000813ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-position: center center;

    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;

    background-size: cover;
}

.container {
    max-width: 400px;
    width: 100%;
    /* background-color: #fff; */
    background: transparent;
    color: var(--rich-black);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    position: relative;
    cursor: default;

}


.logout {

    display: block;
    position: absolute;
    top: 10px;
    /* left: 0; */
    width: 100%;

    padding-left: 92%;
    margin: 5px 0px;
}


.logout button {
    padding: 10px;
    /* float: right; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;

}

.question {
    cursor: default;
}

.option {
    cursor: default;
}

.option input {
    cursor: pointer;
}

form .submit {
    max-width: 400px;
    width: 100%;
    height: 45px;

    margin: 3px 0px;
}

form .submit input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 1s ease;
    background: linear-gradient(-135deg, var(--atomic-tangerine), #e23465);

}

form .submit :hover {

    background: transparent;
}






@media (max-width:600px) {

    .container {
        max-width: 100%;
    }

    .logout {
        margin-left: -100px;
    }


    .user-details::-webkit-scrollbar {
        width: 5px;
    }


}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}