<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Registration Form</title>
    <link rel="stylesheet" href="{% static 'checkRegistration.css' %}">
</head>

<body>
    <!-- This is container  -->
    <div class="container">
        <div class="title">Registration</div>

        <div class="content">

            <!-- Username -->
            {% if userStatus == 1 %}
            <div class="user-status">
                <p style="color:red;">Username already exists! Please try another one.</p>
            </div>
            <a href="{% url 'OTS:registrationform' %}" target="_blank"><button type="button"
                    class="login-btn">Register</button></a>
            {% elif userStatus == 2 %}
            <div class="user-status">

                <p style="color:green">Congratulations !! , User created successfully.</p>
            </div>
            <a href="{% url 'OTS:login' %}"><button type="button" class="login-btn">Login</button></a>

            {% elif userStatus == 3 %}
            <div class="user-status">
                <p style="color: blueviolet;">Improper Request.</p>
            </div>
            <a href="{% url 'OTS:registrationform' %}" target="_blank"><button type="button"
                    class="login-btn">Register</button></a>


            {% endif %}







        </div>

    </div>

    </form>
    </div>
    </div>


    <!-- here the javascript for form validation -->
    <script src="index.js"></script>

</body>

</html>