<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Home.css' %}">

</head>

<body>
    <div class="logout">
        <a href="{% url 'OTS:logout' %}">Logout</a>


    </div>

    <h1 class="username">Wellcome <span>{{request.session.name}},</span> to your home page</h1>
    <div class="ques-btn">
        <a href="{% url 'OTS:testpaper' %}?n=1">Test of 1 question</a>
    </div>
    <div class="ques-btn">
        <a href="{% url 'OTS:testpaper' %}?n=5">Test of 5 question</a>
    </div>
    <div class="ques-btn">
        <a href="{% url 'OTS:testpaper' %}?n=10">Test of 10 question</a>
    </div>

    <div class="test-history">
        <a href="{% url 'OTS:testhistory' %}"><button>
                Test History
            </button></a>
    </div>
</body>

</html>