<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Test</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&family=Quicksand:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Welcome.css' %}">
</head>

<body>
    <div class="main-container">
        <div id="wellcome">
            <h1>WellCome</h1>
        </div>
        <h2>To Online Test System(OTS)!</h2>
        <h3 class="making-date">November 01-05,2023</h3>
        <h3 class="making-date">BY MOHNISH RAWAT</h3>

        <div class="login-btn">
            <a href="{% url 'OTS:registrationform' %}" target="_blank"><button type="button">Register</button></a>
        </div>

        <div class="login-btn">
            <a href="{% url 'OTS:login' %}" target="_blank"><button type="button">Login</button></a>
        </div>



</body>

</html>